foolbox==3.3.4
matplotlib==3.10.3
numpy==1.23.5
pandas==2.3.0
Pillow==11.2.1
PyYAML==6.0.2
seaborn==0.13.2
torch==2.5.0
torchmetrics==1.7.3
torchvision==0.20.0
tqdm==4.67.1
autoattack @ git+https://github.com/fra31/auto-attack.git
